<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.boot.admin.plugin.ai.mapper.AgentMapper">

    <resultMap id="Agent" type="com.xxl.boot.admin.plugin.ai.model.Agent" >
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="agent_type" property="agentType" />
        <result column="supplier_type" property="supplierType" />
        <result column="prompt" property="prompt" />
        <result column="model" property="model" />
        <result column="ollama_url" property="ollamaUrl" />
        <result column="add_time" property="addTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        t.`id`,
        t.`name`,
        t.`agent_type`,
        t.`supplier_type`,
        t.`prompt`,
        t.`model`,
        t.`ollama_url`,
        t.`add_time`,
        t.`update_time`
    </sql>

    <insert id="insert" parameterType="java.util.Map" >
        INSERT INTO xxl_boot_ai_agent (
            `name`,
            `agent_type`,
            `supplier_type`,
            `prompt`,
            `model`,
            `ollama_url`,
            `add_time`,
            `update_time`
        )
        VALUES(
                  #{agent.name} ,
                  #{agent.agentType} ,
                  #{agent.supplierType} ,
                  #{agent.prompt} ,
                  #{agent.model} ,
                  #{agent.ollamaUrl} ,
                  NOW() ,
                  NOW()
              )
    </insert>

    <delete id="delete" parameterType="java.util.Map" >
        DELETE FROM xxl_boot_ai_agent
        WHERE `id` in
        <foreach collection="ids" item="item" open="(" close=")" separator="," >
            #{item}
        </foreach>
    </delete>

    <update id="update" parameterType="java.util.Map" >
        UPDATE xxl_boot_ai_agent
        SET
            `name` = #{agent.name},
            `agent_type` = #{agent.agentType},
            `supplier_type` = #{agent.supplierType},
            `prompt` = #{agent.prompt},
            `model` = #{agent.model},
            `ollama_url` = #{agent.ollamaUrl},
            `update_time` = NOW()
        WHERE `id` = #{agent.id}
    </update>

    <select id="load" parameterType="java.util.Map" resultMap="Agent">
        SELECT <include refid="Base_Column_List" />
        FROM xxl_boot_ai_agent AS t
        WHERE t.`id` = #{id}
    </select>

    <select id="pageList" parameterType="java.util.Map" resultMap="Agent">
        SELECT <include refid="Base_Column_List" />
        FROM xxl_boot_ai_agent AS t
        <trim prefix="WHERE" prefixOverrides="AND | OR" >
            <if test="agentType gt -1">
                AND t.`agent_type` = #{agentType}
            </if>
            <if test="name != null and name != ''">
                AND t.`name` like CONCAT(CONCAT('%', #{name}), '%')
            </if>
        </trim>
        LIMIT #{offset}, #{pagesize}
    </select>

    <select id="pageListCount" parameterType="java.util.Map" resultType="int">
        SELECT count(1)
        FROM xxl_boot_ai_agent AS t
        <trim prefix="WHERE" prefixOverrides="AND | OR" >
            <if test="agentType gt -1">
                AND t.`agent_type` = #{agentType}
            </if>
            <if test="name != null and name != ''">
                AND t.`name` like CONCAT(CONCAT('%', #{name}), '%')
            </if>
        </trim>
    </select>

</mapper>
