/**
 * 表格工具栏样式（rightToolbar.scss）
 */
.top-right-btn {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.column-dropdown-menu {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  padding: 4px 0;

  .column-dropdown-item {
    line-height: 30px;
    padding: 0 17px;
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.04);
    }
  }

  .check-line {
    width: 90%;
    height: 1px;
    background-color: #ccc;
    margin: 3px auto;
  }
}
